<h1>Products</h1>
<% @products.each do |product| %>
    <h2><%= product.name%></h2>

    <p>
    <strong>Price:</strong>
    <%= product.price%>
    </p>


<%= link_to "show", product_path(product),class:"btn btn-primary "%>

<%= form_for @cart_item do |f|%>
  <%= f.hidden_field :product_id, :value => product.id %>
  <%= f.number_field :quantity, :value =>1, :min =>1 %>
  <%= f.submit "Add to cart"%>
  <%end%>

  

<% end %>

